[submodule "src/TelebotDDSCore"]
	path = src/TelebotDDSCore
	url = https://github.com/FIUDiscoveryLab/TelebotDDSCore.git
[submodule "ThirdParty/JSSC"]
	path = ThirdParty/JSSC
	url = https://github.com/FIUDiscoveryLab/JSSC.git
[submodule "ThirdParty/SLF4J"]
	path = ThirdParty/SLF4J
	url = https://github.com/FIUDiscoveryLab/SLF4J.git
[submodule "src/discoverylab/util/logging"]
	path = src/discoverylab/util/logging
	url = https://github.com/FIUDiscoveryLab/logging.git
